.nx
.vscode
.vscode/*
apps
apps/*
libs
libs/*
node_modules
node_modules/*
.github
.gitignore/*
tools
.dockerignore
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc
.prettierignore
.prettierrc
jest.config.ts
jest.preset.js
nx.json
README.md
tsconfig.base.json
